@import "tailwindcss";

@theme inline {
    --color-background: #224402;
    --color-foreground: #edfdc8;
    --font-sans: var(--font-ibm-plex-sans);
    --font-display: var(--font-space-grotesk);
}

body {
    background: #224402;
    color: #edfdc8;
    font-family: var(--font-ibm-plex-sans), Georgia, serif;
    font-size: 1.25rem;
}

@layer base {
    h1,
    h2,
    h3 {
        font-family: var(--font-space-grotesk), system-ui, sans-serif;
    }

    h1 {
        font-size: 3rem;
        line-height: 1;
    }

    h2 {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
    }
    p {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .large-text {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@keyframes app-carousel-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1700px);
    }
}

html {
    scroll-snap-type: y proximity;
}

.snap-section {
    scroll-snap-align: start;
}
