@import "tailwindcss";

@theme inline {
    --color-background: #224402;
    --color-foreground: #edfdc8;
    --font-sans: var(--font-ibm-plex-sans);
    --font-display: var(--font-space-grotesk);
}

html {
    scroll-snap-type: y mandatory;
}

body {
    color: #313a1d;
    font-family: var(--font-ibm-plex-sans), Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

#home-page.bluePage {
    background: linear-gradient(
        178deg,
        #4381a6 1.12%,
        #c6d6dd 6.63%,
        #ecf3f6 47.99%,
        #c6d6dd 82.91%,
        #a5bfca 93.35%
    );
}

#home-page.greenPage {
    background: linear-gradient(
        178deg,
        #4381a6 1.12%,
        #c6d6dd 6.63%,
        #ecf3f6 47.99%,
        #c6d6dd 82.91%,
        #a5bfca 93.35%
    );
}

@layer base {
    .bluePage {
        h1,
        h2,
        h3 {
            font-family: var(--font-space-grotesk), system-ui, sans-serif;
        }

        h1 {
            font-size: 3rem;
            line-height: 1;
            font-weight: 700;
        }

        h2 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2;
        }
        h3 {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1;
        }
        p {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .large-text {
            font-size: 1.5rem;
            line-height: 2.1rem;
        }
    }

    .greenPage {
        h1,
        h2,
        h3 {
            font-family: var(--font-space-grotesk), system-ui, sans-serif;
        }

        h1 {
            font-size: 3rem;
            line-height: 1;
            font-weight: 700;
        }

        h2 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2;
        }
        h3 {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1;
        }
        p {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .large-text {
            font-size: 1.5rem;
            line-height: 2.1rem;
        }
    }
}

@keyframes app-carousel-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1700px);
    }
}

.absolute-card {
    position: absolute;
    transform: translateX(-50%), translateY(50%);
}

.fade-in-section {
    opacity: 0;
    will-change: opacity;
}

.absolute-container {
}

@media (prefers-reduced-motion: reduce) {
    .fade-in-section {
        opacity: 1;
    }
}
